.rete {
  position: relative;
  font-size: 1rem;
  background: white;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  .rete {
    background-color: #1e1e1e;
    border-color: #646cff;
    input {
      background-color: #333;
      border-color: #555;
    }
  }
}
