.rete {
  position: relative;
  font-size: 1rem;
  background: var(--bg-color);
  text-align: left;
}

.rete input,
.rete select {
  min-width: 200px;
  box-sizing: border-box;
  background-color: var(--input-bg);
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  height: 30px;
  line-height: 20px;
  margin: 0;
}

.rete input {
  padding: 4px 8px;
}

.rete select {
  padding: 4px 4px;
}

.rete.headless {
  overflow: hidden;
  touch-action: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  border: none;
}

/* Ensure connections and markers are behind nodes */
.rete [data-testid="connection"],
.rete svg:has(.marker) {
  z-index: -1;
  pointer-events: none;
}

.rete [data-testid="connection"]:hover path {
  stroke: #fcaf3e;
  stroke-width: 10px;
  transition: stroke-width 0.2s ease;
}

.rete span:has([data-testid="connection"]:hover) + svg .marker {
  fill: #fcaf3e;
  stroke: #fcaf3e;
  stroke-width: 4px;
  transition: stroke-width 0.2s ease;
}

/* Attachment styles */
.attachment-overlay {
  opacity: 0;
  transition: opacity 0.2s;
}

div:hover > .attachment-overlay {
  opacity: 1 !important;
}
