.rete {
  position: relative;
  font-size: 1rem;
  background: var(--bg-color);
  text-align: left;
}

.rete input {
  background-color: var(--input-bg);
  border-color: var(--border-color);
  color: var(--text-color);
}

.rete.headless {
  overflow: hidden;
  touch-action: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  border: none;
}
