.rete {
  position: relative;
  width: 60vw;
  height: 90vh;
  font-size: 1rem;
  background: white;
  margin: 1em;
  border-radius: 1em;
  text-align: left;
  border: 3px solid #9571ff;
}

@media (prefers-color-scheme: dark) {
  .rete {
    background: #1e1e1e;
    border-color: #646cff;
  }
}
